<% @wod.each do |t| %>
  <div class="card">
    <div class="date">
      <span class="day-of-week">
        <%= t.created_at.tomorrow.strftime("%A") %>
      </span>
      <span class="date-of-month">
        <%= t.created_at.tomorrow.strftime("%b %d") %>
      </span>
    </div>
   <%=raw t.description %>
  </div>
<% end %>

