<% @wod.each do |t| %>
  <div class="card">
    <div class="date">
      <span class="day-of-week">
        <%= t.date.to_datetime.strftime("%A") %>
      </span>
      <span class="date-of-month">
        |
        <%= t.date.to_datetime.strftime('%b %d') %>
      </span>
    </div>

    <%=raw t.description %>

  </div>
<% end %>

